/*.full_screen{
	height: 100%;
	width:100%;
	background-color: red;
	position: absolute;
	z-index: 0;
	font-family: helvetica;
}*/

.patient_selector{
	z-index: 1;
	height: 100%;
	height: 100vh;
	width: 14%;
	position:absolute;
	color:yellow;
	background-color: #081933;
	border-right: solid white 6px; 
}

#patients{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-bottom: solid white 3px;
	color: white;
}

#alerted{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-bottom: solid white 3px;
	color: white;
	background-color: red;
}

#alert_height{
	 height:30vh;
   	overflow:auto;
    background:red;
}

#alert{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;

	color: white;
	background-color: red;	
}

.Apatient{
	font-family: helvetica;
	font-size: 25px;
	font-size: 2.5vh;
	border-bottom: solid white 1px;
	color: white;
	background-color: red;
	height: 40px;
	height: 4vh;
	cursor: pointer;
}

#normaled{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-top: solid white 3px;
	border-bottom: solid white 3px;
	color: white;
	background-color: #9ECFF7;
}

#normal_height{
	 height:30vh;
   	overflow:auto;
    background: #9ECFF7;
}

#normal{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-bottom: solid white 3px;
	color: white;
	background-color: #9ECFF7;	
}

.Npatient{
	font-family: helvetica;
	font-size: 25px;
	font-size: 2.5vh;
	border-bottom: solid white 1px;
	color: white;
	background-color: #9ECFF7;	
	height: 40px;
	height: 4vh;
	cursor: pointer;
}

.menu{
	font-family: helvetica;
	font-size: 40px;
	font-size: 3.2vh;
	border-bottom: solid white 3px;
	color: white;
	background-color: #081933;
	cursor: pointer; 
}

.menu_Tutorial{
	font-family: helvetica;
	font-size: 40px;
	font-size: 3.2vh;
	border-bottom: solid white 3px;
	color: white;
	background-color: #081933;
	cursor: pointer; 
}

.menu_About_Us{
	font-family: helvetica;
	font-size: 40px;
	font-size: 3.2vh;
	border-bottom: solid white 3px;
	color: white;
	background-color: #081933;
	cursor: pointer; 
}

.menu_Site_Terms{
	font-family: helvetica;
	font-size: 40px;
	font-size: 3.2vh;
	border-bottom: solid white 3px;
	color: white;
	background-color: #081933;
	cursor: pointer; 
}

#graph_container{
	text-indent:0px;
	text-indent:0.04vw;
	float: right;
	height:60%;
	height:60vh;
	width: 80%;
	width: 85vw;
	/*background-color: #9ECFF7;*/
	background-image:url('CardioPic5.jpg');
	background-repeat:no-repeat;
	background-size:1530px 900px;
	background-size:85vw 60vh;
	border-bottom: solid white 3px;
	position: relative;
}

#med_container{
	text-indent:13px;
	float:right;
	height:40%;
	width:50%;
	width:55vw;
	border-right: solid white 3px; 
	background: -webkit-linear-gradient(#081933, #7396B2); /* For Safari */
	background: -o-linear-gradient(#081933, #7396B2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#081933, #7396B2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#081933, #7396B2); /* Standard syntax */ 
}

#info_container{
	float:right;
	height:40%;
	width:30%;
	background: -webkit-linear-gradient(#081933, #7396B2); /* For Safari */
	background: -o-linear-gradient(#081933, #7396B2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#081933, #7396B2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#081933, #7396B2); /* Standard syntax */  
}

.subtitle{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-bottom: solid white 3px;
	color: white;
	text-indent: 1vw;
}

#info_table{ 
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 20px;
	font-size: 0.9vw;			/*this gives dynamic resizing*/
	color: white;
	width:70%;
	/*height:30%; */
	height: 10vh; 
}

#med_table{
	color: white;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 0.9vw;			/*this gives dynamic resizing*/
}

.med_table1{
	border-left: solid white 3px; 
	position: relative;
	float:left;
	margin-top: 10px;
	margin-left: 20px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;

}

.med_table2{
	border-left: solid white 3px; 
	position: relative;
	float:left;
	/*left:225px;*/
	/*left:10vw;*/
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;

	
}

.med_table3{
	border-left: solid white 3px; 
	position: relative;
	float:left;
	/*left:470px;
	left:22vw;*/
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;

	
}

.med_table4{
	border-left: solid white 3px; 
	position: relative;
	float:left;
	/*left:695px;
	left:34vw;*/
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color:white;

	
}

.Identification{
	height:40px;
	position :relative;
}

#chart_div{
	position: relative;
	vertical-align: middle;
	top:100px;
	top:5vh;
	height:400px;
	height:40vh;
	width:200px;
	width:20vw;
	z-index: 5;
}

  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  	color:red;
  }

  .about_us_back{
  	background-color:black;
  	opacity: 0.55;
  	height:100vh;
  	width:100vw;
  	z-index: 90;
  	position:absolute;
  	display:none;  
  }

.about_us{
  	background-color: #081933;
	border: solid white 6px; 
  	border-radius: 5px;
  	height: 20vh;
  	width:30vw;
  	position:absolute;
  	top:40vh;
  	left:35vw;
  	z-index: 92;
  	opacity: 1 !important;
  	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	color: white;
  	display:none;
  }

.about_us>p{
	font-size: 20px;
	font-size: 2vh;
	display:none;
}

.cross{
	border: solid white 3px; 
	position:relative;
	z-index: 93;
	top:10px;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	display:none;
}

.site_terms{
  	background-color: #081933;
	border: solid white 6px; 
  	border-radius: 5px;
  	height: 20vh;
  	width:30vw;
  	position:absolute;
  	top:40vh;
  	left:35vw;
  	z-index: 92;
  	opacity: 1 !important;
  	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	color: white;
  	display:none;
  }

.site_terms>p{
	font-size: 20px;
	font-size: 2vh;
	display:none;
}

.Tutorial_1{
  	background-color: #081933;
	border: solid white 6px; 
  	border-radius: 5px;
  	height: 20vh;
  	width:30vw;
  	position:absolute;
  	top:40vh;
  	left:35vw;
  	z-index: 92;
  	opacity: 1 !important;
  	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	color: white;
  	display:none;
  }

.Tutorial_1>p{
	font-size: 20px;
	font-size: 2vh;
	display:none;
}

.close1{
	position:relative;
	z-index: 93;
	top:10px;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	display:none;
}

.close2{
	position:relative;
	z-index: 93;
	top:10px;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	display:none;
}

.close3{
	position:relative;
	z-index: 93;
	top:10px;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	display:none;
}

.close4{
	position:relative;
	z-index: 93;
	top:10px;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	display:none;
}

.close5{
	position:relative;
	z-index: 93;
	top:10px;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	display:none;
}

.next1{
	position:relative;
	z-index: 93;
	top:16vh;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	text-decoration: underline;
	display:none;	
}

.next2{
	position:relative;
	z-index: 93;
	top:20vh;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	text-decoration: underline;
	display:none;	
}

.next3{
	position:relative;
	z-index: 93;
	top:20vh;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	text-decoration: underline;
	display:none;	
}

.next4{
	position:relative;
	z-index: 93;
	top:20vh;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	text-decoration: underline;
	display:none;	
}

.next5{
	position:relative;
	z-index: 93;
	top:20vh;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	text-decoration: underline;
	display:none;	
}

.next6{
	position:relative;
	z-index: 93;
	top:40vh;
	right:10px;
	float: right;
	font-size: 20px; 
	font-size: 2vh;
	cursor: pointer;
	text-decoration: underline;
	display:none;	
}

.Tutorial_2_back{
	background-color:black;
  	opacity: 0.55;
  	height:100vh;
  	width:85vw;
  	z-index: 90;
  	position:absolute;
  	left:15vw;
 	display:none;
}

.Tutorial_2_back_b{
	background-color:black;
  	opacity: 0.55;
  	height:23.5vh;
  	width:14.6vw;
  	z-index: 90;
  	position:absolute;
  	top:76.5vh;
 	display:none;
}

.Tutorial_2{
  	background-color: #081933;
	border: solid white 6px; 
  	border-radius: 5px;
  	height: 25vh;
  	width:30vw;
  	position:absolute;
  	top:40vh;
  	left:35vw;
  	z-index: 92;
  	opacity: 1 !important;
  	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	color: white;
  	display:none;
  }

.Tutorial_2>p{
	font-size: 20px;
	font-size: 2vh;
	display:none;
}

.Tutorial_3_back{
	background-color:black;
  	opacity: 0.55;
  	height:100vh;
  	width:85vw;
  	z-index: 90;
  	position:absolute;
  	left:15vw;
 	display:none;
}

.Tutorial_3_back_b{
	background-color:black;
  	opacity: 0.55;
  	height:75.5vh;
  	width:14.6vw;
  	z-index: 90;
  	position:absolute;
  	top:1vh;
 	display:none;
}

.Tutorial_3{
  	background-color: #081933;
	border: solid white 6px; 
  	border-radius: 5px;
  	height: 25vh;
  	width:30vw;
  	position:absolute;
  	top:40vh;
  	left:35vw;
  	z-index: 92;
  	opacity: 1 !important;
  	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	color: white;
  	display:none;
  }

.Tutorial_3>p{
	font-size: 20px;
	font-size: 2vh;
	display:none;
}

.Tutorial_4_back{
	background-color:black;
  	opacity: 0.55;
  	height:39.5vh;
  	width:85vw;
  	z-index: 90;
  	position:absolute;
  	left:14.8vw;
 	display:none;
 	top:61vh;
}

.Tutorial_4_back_b{
	background-color:black;
  	opacity: 0.55;
  	height:100vh;
  	width:14.22vw;
  	z-index: 90;
  	position:absolute;
  	top:1vh;
 	display:none;
}

.Tutorial_4{
  	background-color: #081933;
	border: solid white 6px; 
  	border-radius: 5px;
  	height: 25vh;
  	width:30vw;
  	position:absolute;
  	top:65vh;
  	left:35vw;
  	z-index: 92;
  	opacity: 1 !important;
  	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	color: white;
  	display:none;
  }

.Tutorial_4>p{
	font-size: 20px;
	font-size: 2vh;
	display:none;
}

.Tutorial_5_back{
	background-color:black;
  	opacity: 0.55;
  	height:60vh;
  	width:55vw;
  	z-index: 90;
  	position:absolute;
  	left:14.8vw;
 	display:none;
 	top:1vh;
}

.Tutorial_5_back_b{
	background-color:black;
  	opacity: 0.55;
  	height:100vh;
  	width:14.22vw;
  	z-index: 90;
  	position:absolute;
  	top:1vh;
 	display:none;
}

.Tutorial_5_back_c{
	background-color:black;
  	opacity: 0.55;
  	height:100vh;
  	width:30vw;
  	z-index: 90;
  	position:absolute;
  	left:69.7vw;
 	display:none;
 	top:1vh;
}

.Tutorial_5{
  	background-color: #081933;
	border: solid white 6px; 
  	border-radius: 5px;
  	height: 25vh;
  	width:30vw;
  	position:absolute;
  	top:25vh;
  	left:35vw;
  	z-index: 92;
  	opacity: 1 !important;
  	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	color: white;
  	display:none;
  }

.Tutorial_5>p{
	font-size: 20px;
	font-size: 2vh;
	display:none;
}

.Tutorial_6_back{
	background-color:black;
  	opacity: 0.55;
  	height:100vh;
  	width:55vw;
  	z-index: 90;
  	position:absolute;
  	left:14.8vw;
 	display:none;
 	top:1vh;
}

.Tutorial_6_back_b{
	background-color:black;
  	opacity: 0.55;
  	height:100vh;
  	width:14.22vw;
  	z-index: 90;
  	position:absolute;
  	top:1vh;
 	display:none;
}

.Tutorial_6_back_c{
	background-color:black;
  	opacity: 0.55;
  	height:60vh;
  	width:30vw;
  	z-index: 90;
  	position:absolute;
  	left:69.7vw;
 	display:none;
 	top:1vh;
}

.Tutorial_6{
  	background-color: #081933;
	border: solid white 6px; 
  	border-radius: 5px;
  	height: 45vh;
  	width:30vw;
  	position:absolute;
  	top:25vh;
  	left:35vw;
  	z-index: 92;
  	opacity: 1 !important;
  	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	color: white;
  	display:none;
  }

.Tutorial_6>p{
	font-size: 20px;
	font-size: 2vh;
	display:none;
}