.full_screen={
	height: 100%;
	width:100%;
	background-color: red;
	position: absolute;
	z-index: 0;
	font-family: helvetica;
}

.patient_selector{
	z-index: 1;
	height: 100%;
	width: 20%;
	position:absolute;
	color:yellow;
	background-color: #081933;
	border-right: solid white 6px; 
}

#patients{
	font-family: helvetica;
	font-size: 40px;
	border-bottom: solid white 3px;
	color: white;
}

#alerted{
	font-family: helvetica;
	font-size: 40px;
	border-bottom: solid white 3px;
	color: white;
	background-color: red;
}

#alert{
	font-family: helvetica;
	font-size: 40px;
	border-bottom: solid white 3px;
	color: white;
	background-color: red;	
}

.Apatient{
	font-family: helvetica;
	font-size: 20px;
	border-bottom: solid white 1px;
	color: white;
	background-color: red;
	height: 40px;
}

#normaled{
	font-family: helvetica;
	font-size: 40px;
	border-bottom: solid white 3px;
	color: white;
	background-color: #9ECFF7;
}

#normal{
	font-family: helvetica;
	font-size: 40px;
	border-bottom: solid white 3px;
	color: white;
	background-color: #9ECFF7;	
}

.Npatient{
	font-family: helvetica;
	font-size: 20px;
	border-bottom: solid white 1px;
	color: white;
	background-color: #9ECFF7;	
	height: 40px;
}

#graph_container{
	text-indent:20px;
	text-indent:0.01vw;
	float: right;
	height:70%;
	height:70vh;
	width: 80%;
	width: 80vw;
	/*background-color: #9ECFF7;*/
	background-image:url('CardioPic5.jpg');
	background-repeat:no-repeat;
	background-size:1530px 900px;
	border-bottom: solid white 3px;
	position: relative;
}

#med_container{
	text-indent:13px;
	float:right;
	height:30%;
	width:50%;
	border-right: solid white 3px; 
	background: -webkit-linear-gradient(#081933, #7396B2); /* For Safari */
	background: -o-linear-gradient(#081933, #7396B2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#081933, #7396B2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#081933, #7396B2); /* Standard syntax */ 
}

#info_container{
	float:right;
	height:30%;
	width:30%;
	background: -webkit-linear-gradient(#081933, #7396B2); /* For Safari */
	background: -o-linear-gradient(#081933, #7396B2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#081933, #7396B2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#081933, #7396B2); /* Standard syntax */  
}

.subtitle{
	font-family: helvetica;
	font-size: 40px;
	border-bottom: solid white 3px;
	color: white;
}

#info_table{ 
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 20px;
	color: white;
	width:70%;
}

#med_table{
	color: white;
}

.med_table1{
	border-left: solid white 3px; 
	position: relative;
	margin-top: 10px;
	margin-left: 20px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;
	width:25%;
}

.med_table2{
	border-left: solid white 3px; 
	position: relative;
	top:-130px;
	left:225px;
	margin-top: 30px;
	margin-left: 30px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;
	width:25%;
	
}

.med_table3{
	border-left: solid white 3px; 
	position: relative;
	top:-260px;
	left:470px;
	margin-top: 30px;
	margin-left: 30px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;
	width:25%;
	
}

.med_table4{
	border-left: solid white 3px; 
	position: relative;
	top:-390px;
	left:695px;
	margin-top: 30px;
	margin-left: 30px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color:white;
	width:25%;
	
}

.Identification{
	height:40px;
	position :relative;
}

#chart_div{
	position: relative;
	vertical-align: middle;
	top:100px;
	height:400px;
	height:40vh;
	width:200px;
	z-index: 5;
}

  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  	color:red;
  }