/*.full_screen{
	height: 100%;
	width:100%;
	background-color: red;
	position: absolute;
	z-index: 0;
	font-family: helvetica;
}*/

.patient_selector{
	z-index: 1;
	height: 100%;
	height: 100vh;
	width: 14%;
	position:absolute;
	color:yellow;
	background-color: #081933;
	border-right: solid white 6px; 
}

#patients{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-bottom: solid white 3px;
	color: white;
}

#alerted{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-bottom: solid white 3px;
	color: white;
	background-color: red;
}

#alert_height{
	 height:30vh;
   	overflow:auto;
    background:red;
}

#alert{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;

	color: white;
	background-color: red;	
}

.Apatient{
	font-family: helvetica;
	font-size: 25px;
	font-size: 2.5vh;
	border-bottom: solid white 1px;
	color: white;
	background-color: red;
	height: 40px;
	height: 4vh;
}

#normaled{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-top: solid white 3px;
	border-bottom: solid white 3px;
	color: white;
	background-color: #9ECFF7;
}

#normal{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-bottom: solid white 3px;
	color: white;
	background-color: #9ECFF7;	
}

.Npatient{
	font-family: helvetica;
	font-size: 25px;
	font-size: 2.5vh;
	border-bottom: solid white 1px;
	color: white;
	background-color: #9ECFF7;	
	height: 40px;
	height: 4vh;
}

#graph_container{
	text-indent:0px;
	text-indent:0.04vw;
	float: right;
	height:60%;
	height:60vh;
	width: 80%;
	width: 85vw;
	/*background-color: #9ECFF7;*/
	background-image:url('CardioPic5.jpg');
	background-repeat:no-repeat;
	background-size:1530px 900px;
	background-size:85vw 60vh;
	border-bottom: solid white 3px;
	position: relative;
}

#med_container{
	text-indent:13px;
	float:right;
	height:40%;
	width:50%;
	width:55vw;
	border-right: solid white 3px; 
	background: -webkit-linear-gradient(#081933, #7396B2); /* For Safari */
	background: -o-linear-gradient(#081933, #7396B2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#081933, #7396B2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#081933, #7396B2); /* Standard syntax */ 
}

#info_container{
	float:right;
	height:40%;
	width:30%;
	background: -webkit-linear-gradient(#081933, #7396B2); /* For Safari */
	background: -o-linear-gradient(#081933, #7396B2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#081933, #7396B2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#081933, #7396B2); /* Standard syntax */  
}

.subtitle{
	font-family: helvetica;
	font-size: 40px;
	font-size: 4vh;
	border-bottom: solid white 3px;
	color: white;
	text-indent: 1vw;
}

#info_table{ 
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 20px;
	font-size: 0.9vw;			/*this gives dynamic resizing*/
	color: white;
	width:70%;
	height:40%;
	height: 40vh;
}

#med_table{
	color: white;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 0.9vw;			/*this gives dynamic resizing*/
}

.med_table1{
	border-left: solid white 3px; 
	position: relative;
	float:left;
	margin-top: 10px;
	margin-left: 20px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;

}

.med_table2{
	border-left: solid white 3px; 
	position: relative;
	float:left;
	/*left:225px;*/
	/*left:10vw;*/
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;

	
}

.med_table3{
	border-left: solid white 3px; 
	position: relative;
	float:left;
	/*left:470px;
	left:22vw;*/
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color: white;

	
}

.med_table4{
	border-left: solid white 3px; 
	position: relative;
	float:left;
	/*left:695px;
	left:34vw;*/
	margin-top: 10px;
	margin-left: 10px;
	font-family: helvetica;
	font-size: 30px;			/*this is so that something appears on older browsers*/
	font-size: 1.7vw;			/*this gives dynamic resizing*/
	color:white;

	
}

.Identification{
	height:40px;
	position :relative;
}

#chart_div{
	position: relative;
	vertical-align: middle;
	top:100px;
	top:5vh;
	height:400px;
	height:40vh;
	width:200px;
	width:20vw;
	z-index: 5;
}

  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  	color:red;
  }